p {
	line-height: 200%;
}

a {
	@include transition();
}

.highlight {
	color: $green;
	position: relative;
	&:after {
		position: absolute;
		width: 5rem;
		height: 4px;
		background: $light-gray;
		content: '';
		left: 0;
		right: 0;
		bottom: -5px;
		margin: auto;

	}
}

.bg--white {
	background: $white;
}

.bg--dark-gray {
	background: $dark-gray;
}

.circle {
	border-radius: 100rem;
	overflow: hidden;
}