@import "normalize/*";
@import "mixins/*";
@import "variables/*";


// Default Styles

html {
  background: $green;
}

body {
  color: $grey-light;
}

h2 {
  margin: 0 0 .5em 0;
}

img {
  max-width: 100%;
  height: auto;
}

a, a:link, a:visited {
  color: $grey-light;
  text-decoration: none;
}

.page {
  border-top: .25em solid $green;
  border-bottom: .25em solid $green;
  background: white;
}

.container {
  background: #fff;
  padding: 1em;
}

.footer {
  clear: both;
  text-align: center;
  i {
    margin: .5em;
  }
}

@media screen and (min-width: 420px) {
  .page {
    border: 1em solid $green;
  }

  .container {
    .left {
      float: left;
      &.narrow .inner {
        margin-right: 1em;
      }
    }
    .right {
      float: right;
    }
    .narrow {
      width: 25%;
    }
    .wide {
      width: 75%;
    }
  }
}