<footer class="bg--dark-gray l-footer">
	<div class="row columns text-center">
		<ul class="menu--social">
			<li>
				<a href="https://github.com/doostinharrell" target="_blank">
					<i class="fa fa-github fa-2x"></i>
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/pub/dustin-harrell/45/877/4b5" target="_blank">
					<i class="fa fa-linkedin fa-2x"></i>
				</a>
			</li>
			<li>
				<a href="https://www.drupal.org/u/doostinharrell" target="_blank">
					<i class="fa fa-drupal fa-2x"></i>
				</a>
			</li>
			<li>
				<script language="javascript" type="text/javascript">
					var pre = "doostinharrell";
					document.write("<a href='mailto:" + pre + "@gmail.com?Subject=Website%20again'>");
				</script>
				<i class="fa fa-paper-plane fa-2x"></i>
				<script language="javascript" type="text/javascript">
					document.write("</a>");
				</script>
			</li>
		</ul>
		<div class="copyright">Copyright © 2016 Dustin Harrell</div>
	</div>
</footer>