.about--teaser {
	position: relative;
	//width: 100%;
	z-index: 2;
	@include breakpoint(large) {
		transform:translateY(-50%);
	}
}
.about--teaser__image {
	margin-bottom: 2rem;
	@include breakpoint(large) {
		margin-bottom: 0;
	}
}
.about--teaser__content {
	//margin-bottom: 150%;
	//width: 100%;
	//position: absolute;
	//transform:translateY(-50%);
}